[buildout]
parts = openerp
versions = versions
find-links = http://download.gna.org/pychart/


[openerp]
recipe = anybox.recipe.openerp:server
version = git https://github.com/OCA/OpenUpgrade.git odoo 8.0 depth=10

eggs = nose
       xlwt
       xlrd
       OpenUpgradelib
       simplejson
       unidecode
       reportlab
openerp_scripts = nosetests=nosetests command-line-options=-d

options.logfile = upgrade_8.log

[versions]
pillow = 3.4.2
pydot = 1.0.28
